{% extends 'base.html'%}

{% block page_title %} Empresa {% endblock %}

{% block banner %}
<!-- ========================
     page title
     =========================== -->
<section class="page-title page-title-layout2 text-center bg-overlay">
    <div class="bg-img"><img src="https://mapio.net/images-p/23793484.jpg" alt="background"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <h1 class="pagetitle__heading">Nosotros</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="#">Páginas</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Nosotros</li>
                    </ol>
                </nav>
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.page-title -->


{% endblock %}

{% block content %}

<h1>Reseña de la empresa</h1>

{% for nota in empresa %}

<h2>{{ nota.titulo }}</h2>

<p>{{ nota.contenido|safe }}</p>

{% endfor %}

{% endblock %}
