{% extends 'base.html'%}

{% block page_title %} Personal {% endblock %}

{% block banner %}
<!-- ========================
     page title
     =========================== -->
<section class="page-title page-title-layout2 text-center bg-overlay">
    <div class="bg-img"><img src="https://mapio.net/images-p/23793484.jpg" alt="background"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <h1 class="pagetitle__heading">Personal</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="#">Páginas</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Personal</li>
                    </ol>
                </nav>
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.page-title -->


{% endblock %}

{% block content %}
    <!-- ========================
        Team 1
	========================== -->
    <section class="team-layout1 text-center pb-90">
      <div class="container">
	<div class="row">
	  <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
	    <div class="heading mb-60">
	      <h2 class="heading__title">Nuestro equipo</h2>
	      <p class="heading__desc">Al servicio de la comunidad de San Gabriel y Acosta</p>
	    </div><!-- /.heading -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
	<div class="row">

	  {% for funcionario in funcionarios %}
	  <!-- Member #1 -->
	  <div class="col-sm-12 col-md-4 col-lg-4">
	    <div class="member">
	      <a href='/nosotros/funcionario_{{ funcionario.id }}'>
	      <div class="member__img">

		<img src="http://161.35.54.122:10066/perfil/imagenes/{{ funcionario.url_site }}"
                 alt="{{ funcionario.nombre }} - {{ funcionario.cargo }}">

	      </div><!-- /.member-img -->
	      <div class="member__info">
		<h5 class="member__name">{{ funcionario.nombre }}</h5>
		<p class="member__desc">{{ funcionario.cargo }}</p>
		<p class="member__bio">Descripción Lorem ipsum ipsum lorem</p>
		<ul class="social__icons justify-content-center list-unstyled mb-0">
		  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
		  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
		  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
		</ul><!-- /.social-icons -->
	      </div><!-- /.member-info -->
	      </a>
	    </div><!-- /.member -->
	  </div><!-- /.col-lg-4 -->

    {% endfor %}

	  
	  <!-- <\!-- Member #2 -\-> -->
	  <!-- <div class="col-sm-12 col-md-4 col-lg-4"> -->
	  <!--   <div class="member"> -->
	  <!--     <div class="member__img"> -->
	  <!-- 	<img src="/static/template/assets/images/team/2.jpg" alt="member img"> -->
	  <!--     </div><\!-- /.member-img -\-> -->
	  <!--     <div class="member__info"> -->
	  <!-- 	<h5 class="member__name">Chris M Wensel</h5> -->
	  <!-- 	<p class="member__desc">Art Director</p> -->
	  <!-- 	<p class="member__bio">Art wasn't supposed to look nice; it was supposed to make you feel something.</p> -->
	  <!-- 	<ul class="social__icons justify-content-center list-unstyled mb-0"> -->
	  <!-- 	  <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
	  <!-- 	  <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
	  <!-- 	  <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
	  <!-- 	</ul><\!-- /.social-icons -\-> -->
	  <!--     </div><\!-- /.member-info -\-> -->
	  <!--   </div><\!-- /.member -\-> -->
	  <!-- </div><\!-- /.col-lg-4 -\-> -->
	  <!-- <\!-- Member #3 -\-> -->
	  <!-- <div class="col-sm-12 col-md-4 col-lg-4"> -->
	  <!--   <div class="member"> -->
	  <!--     <div class="member__img"> -->
	  <!-- 	<img src="/static/template/assets/images/team/3.jpg" alt="member img"> -->
	  <!--     </div><\!-- /.member-img -\-> -->
	  <!--     <div class="member__info"> -->
	  <!-- 	<h5 class="member__name">Ahmed abdallah</h5> -->
	  <!-- 	<p class="member__desc">CEO & Founder</p> -->
	  <!-- 	<p class="member__bio">Every child is an artist. The problem is how to remain an artist once he grows -->
	  <!-- 	  up.</p> -->
	  <!-- 	<ul class="social__icons justify-content-center list-unstyled mb-0"> -->
	  <!-- 	  <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
	  <!-- 	  <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
	  <!-- 	  <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
	  <!-- 	</ul><\!-- /.social-icons -\-> -->
	  <!--     </div><\!-- /.member-info -\-> -->
	  <!--   </div><\!-- /.member -\-> -->
	  <!-- </div><\!-- /.col-lg-4 -\-> -->

	</div><!-- /.row -->
      </div><!-- /.container -->
          </section><!-- /.team1  -->


{% endblock %}
