{% extends 'base.html'%}

{% block page_title %} Rutas {% endblock %}
{% block emp_title %}Horarios de viaje{% endblock %}
{% block content %}

<div id="app_times">
    <h3>Consultar horarios</h3>
    <p>
        Seleccione el horario de interés:
    </p>
    Saliendo de:
    <select id="" name="">
        <option value="">San Gabriel</option>
    </select>
    hacia:
    <select id="" name="">
        <option value="">San José</option>
    </select>

    <h3>Próximos autobuses</h3>

</div>

{% endblock %}
{% block scripts %}
	<!-- scripts -->
  <script src="/static/js/routes_app.js"></script>
{% endblock %}
